.cupcake {
  width: 100%; }

.carousel-item {
  height: 38rem;
  background-size: cover;
  background-position: center center; }

/* CSS General */
* {
  margin: 0;
  padding: 0; }

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

/* CSS para NAV */
@font-face {
  font-family: SUNN-line-regular;
  src: url("../assets/fonts/menu/SUNN-Line-Regular.woff"); }

.nav-link {
  font-family: SUNN-line-regular;
  font-size: 36px; }

.navbar__logo {
  width: 140px;
  height: 140px; }

.contenedor-logo {
  display: flex;
  background-color: white; }

.navbar {
  background-image: linear-gradient(to left, #57B5A9, #57B5A9); }

.navbar-nav .nav-link {
  color: white !important;
  padding-left: 60px !important; }

.navbar-nav .nav-link:hover {
  color: #DC666B !important; }

.bg-primary {
  background-color: #57B5A9 !important; }

.colNavBar {
  background-image: linear-gradient(to left, #333333, black); }

.stickyNav {
  position: sticky;
  z-index: 9999;
  top: 0; }

@font-face {
  font-family: SUNN-line-regular;
  src: url("../assets/fonts/menu/SUNN-Line-Regular.woff"); }

@font-face {
  font-family: Brush-regular;
  src: url("../assets/fonts/footer/CrushineBrushScript.woff"); }

a {
  color: white; }

.shfooter .collapse {
  display: inherit; }

@media (max-width: 767px) {
  .shfooter ul {
    margin-bottom: 0; }
  .shfooter .collapse {
    display: none; }
  .shfooter .collapse.show {
    display: block; }
  .shfooter .title .fa-angle-up,
  .shfooter .title[aria-expanded=true] .fa-angle-down {
    display: none; }
  .shfooter .title[aria-expanded=true] .fa-angle-up {
    display: block; }
  .shfooter .navbar-toggler {
    display: inline-block;
    padding: 0; } }

.resize {
  text-align: center; }

.resize {
  margin-top: 3rem;
  font-size: 1.25rem; }

/*RESIZESCREEN ANIMATION*/
.fa-angle-double-right {
  animation: rightanime 1s linear infinite; }

.fa-angle-double-left {
  animation: leftanime 1s linear infinite; }

@keyframes rightanime {
  50% {
    transform: translateX(10px);
    opacity: 0.5; }
  100% {
    transform: translateX(10px);
    opacity: 0; } }

@keyframes leftanime {
  50% {
    transform: translateX(-10px);
    opacity: 0.5; }
  100% {
    transform: translateX(-10px);
    opacity: 0; } }

.fa-facebook-square {
  color: white; }

.fa-facebook-square:hover {
  color: #DC666B; }

.fa-instagram {
  color: white; }

.fa-instagram:hover {
  color: #DC666B; }

.fa-linkedin {
  color: white; }

.fa-linkedin:hover {
  color: #DC666B; }

.texcenter--h4 {
  padding-bottom: 1%;
  font-family: SUNN-line-regular;
  font-size: 35px;
  font-weight: bold; }

.shfooter h5 {
  font-family: SUNN-line-regular;
  font-size: 30px; }

.copyright {
  font-family: SUNN-line-regular;
  font-weight: bold;
  font-size: 20px; }

.ijac {
  font-family: SUNN-line-regular;
  font-weight: bold;
  font-size: 20px;
  color: white; }

@font-face {
  font-family: SUNN-line-regular;
  src: url("../assets/fonts/menu/SUNN-Line-Regular.woff"); }

/*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

body,
html {
  height: 100%;
  font-family: Montserrat-Regular, sans-serif; }

/*---------------------------------------------*/
a {
  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s; }

a:focus {
  outline: none !important; }

a:hover {
  text-decoration: none;
  color: #57B5A9; }

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px; }

p {
  font-family: Montserrat-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px; }

ul,
li {
  margin: 0px;
  list-style-type: none; }

/*---------------------------------------------*/
input {
  outline: none;
  border: none; }

textarea {
  outline: none;
  border: none; }

textarea:focus,
input:focus {
  border-color: transparent !important; }

input::-webkit-input-placeholder {
  color: #999999; }

input:-moz-placeholder {
  color: #999999; }

input::-moz-placeholder {
  color: #999999; }

input:-ms-input-placeholder {
  color: #999999; }

textarea::-webkit-input-placeholder {
  color: #999999; }

textarea:-moz-placeholder {
  color: #999999; }

textarea::-moz-placeholder {
  color: #999999; }

textarea:-ms-input-placeholder {
  color: #999999; }

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent; }

button:hover {
  cursor: pointer; }

iframe {
  border: none !important; }

/*//////////////////////////////////////////////////////////////////
  [ Contact 1 ]*/
.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  background: #DC666B;
  background: -webkit-linear-gradient(left, #DC666B, #f6a3a5);
  background: -o-linear-gradient(left, #DC666B, #f6a3a5);
  background: -moz-linear-gradient(left, #DC666B, #f6a3a5);
  background: linear-gradient(left, #DC666B, #f6a3a5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.container-contact1 {
  width: 1163px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 90px 130px 88px 148px; }

/*------------------------------------------------------------------
  [  ]*/
.contact1-pic {
  width: 296px; }

.contact1-pic img {
  max-width: 100%; }

/*------------------------------------------------------------------
  [  ]*/
.contact1-form {
  width: 390px; }

.contact1-form-title {
  display: block;
  font-family: SUNN-line-regular;
  font-weight: bold;
  font-size: 35px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px; }

input.input1 {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
  font-family: SUNN-line-regular;
  font-size: 25px; }

input.input1 + .shadow-input1 {
  border-radius: 25px; }

textarea.input1 {
  min-height: 150px;
  border-radius: 25px;
  padding: 12px 30px;
  font-family: SUNN-line-regular;
  font-size: 25px; }

textarea.input1 + .shadow-input1 {
  border-radius: 25px; }

/*---------------------------------------------*/
.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px; }

.input1 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #666666; }

.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #57B5A9; }

.input1:focus + .shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards; }

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0; } }

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 80px 30px;
    opacity: 0; } }

/*---------------------------------------------*/
.container-contact1-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #57B5A9;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  font-family: SUNN-line-regular;
  font-size: 30px;
  font-weight: bold; }

.contact1-form-btn i {
  margin-left: 7px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

.contact1-form-btn:hover {
  background: #333333; }

.contact1-form-btn:hover i {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px); }

/*------------------------------------------------------------------
  [ Responsive ]*/
@media (max-width: 1200px) {
  .contact1-pic {
    width: 33.5%; }
  .contact1-form {
    width: 44%; } }

@media (max-width: 992px) {
  .container-contact1 {
    padding: 90px 80px 88px 90px; }
  .contact1-pic {
    width: 35%; }
  .contact1-form {
    width: 55%; } }

@media (max-width: 768px) {
  .container-contact1 {
    padding: 90px 80px 88px 80px; }
  .contact1-pic {
    display: none; }
  .contact1-form {
    width: 100%; } }

@media (max-width: 576px) {
  .container-contact1 {
    padding: 90px 15px 88px 15px; } }

/*------------------------------------------------------------------
  [ Alert validate ]*/
.validate-input {
  position: relative; }

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 13px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;
  font-family: Montserrat-Medium;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s; }

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 13px; }

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1; }

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1; } }

@font-face {
  font-family: SUNN-line-regular;
  src: url("../assets/fonts/menu/SUNN-Line-Regular.woff"); }

.seccion-productos-destacados--estilo-titulo {
  font-family: SUNN-line-regular;
  font-size: 46px;
  font-weight: bold; }

/*---------------------
  Featured
-----------------------*/
.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center; }

.featured {
  padding-top: 80px;
  padding-bottom: 40px; }

.featured__controls {
  text-align: center;
  margin-bottom: 50px; }

.featured__controls ul li {
  list-style: none;
  font-family: SUNN-line-regular;
  font-size: 28px;
  font-weight: bold;
  color: #1c1c1c;
  display: inline-block;
  margin-right: 25px;
  position: relative;
  cursor: pointer; }

.featured__controls ul li.active:after {
  opacity: 1; }

.featured__controls ul li:after {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #7fad39;
  content: "";
  opacity: 0; }

.featured__controls ul li:last-child {
  margin-right: 0; }

.featured__item {
  margin-bottom: 50px; }

.featured__item:hover .featured__item__pic .featured__item__pic__hover {
  bottom: 20px; }

.featured__item__pic {
  height: 270px;
  position: relative;
  overflow: hidden;
  background-position: center center; }

.featured__item__pic__hover {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 100%;
  text-align: center;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s; }

.featured__item__pic__hover li {
  list-style: none;
  display: inline-block;
  margin-right: 6px; }

.featured__item__pic__hover li:last-child {
  margin-right: 0; }

.featured__item__pic__hover li:hover a {
  background: #7fad39;
  border-color: #7fad39; }

.featured__item__pic__hover li:hover a i {
  color: #ffffff;
  transform: rotate(360deg); }

.featured__item__pic__hover li a {
  font-size: 16px;
  color: #1c1c1c;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ebebeb;
  background: #ffffff;
  display: block;
  border-radius: 50%;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  transition: all, 0.5s; }

.featured__item__pic__hover li a i {
  position: relative;
  transform: rotate(0);
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  -ms-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  transition: all, 0.3s; }

.featured__item__text {
  text-align: center;
  padding-top: 15px; }

.featured__item__text h6 {
  margin-bottom: 10px; }

.featured__item__text h6 a {
  color: #252525;
  font-family: SUNN-line-regular;
  font-size: 28px;
  font-weight: bold; }

.featured__item__text h5 {
  color: #252525;
  font-family: SUNN-line-regular;
  font-size: 37px;
  font-weight: bold; }

.tortaArcoIris {
  background-image: url(../assets/img/torta_arcoIris.png);
  border-radius: 5%; }

.cookieDino {
  background-image: url(../assets/img/cookieDino.png);
  border-radius: 5%; }

.funBox {
  background-image: url(../assets/img/funBox.png);
  border-radius: 5%; }

.docenaCookies {
  background-image: url(../assets/img/cookiesDocena.png);
  border-radius: 5%; }

.tortaBautismo {
  background-image: url(../assets/img/TortaBautismo.png);
  border-radius: 5%; }

.cookieHelado {
  background-image: url(../assets/img/CookiesHelado.png);
  border-radius: 5%; }

.cookieStich {
  background-image: url(../assets/img/cookieStich.png);
  border-radius: 5%; }

.tortaChimuelo {
  background-image: url(../assets/img/Torta_Chimuelo.png);
  border-radius: 5%; }
