// Fuentes
@font-face {
    font-family: SUNN-line-regular;
    src: url('../assets/fonts/menu/SUNN-Line-Regular.woff');
}

.seccion-productos-destacados--estilo-titulo {
    font-family: SUNN-line-regular;
    font-size: 46px;
    font-weight: bold;
}

// CSS para mi cuenta y carrito
.navbar-top {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
}

.producstOnCart {
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    overscroll-behavior: contain;
    background-color: #202020;
    width: 300px;
    height: 500px;
    color: #f0f0f0;
    z-index: 15;
    position: fixed;
    top: 20px;
    right: 0;
    text-align: center;
}

.producstOnCart::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.hide {
    display: none;
}

.producstOnCart ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.producstOnCart .buyItem {
    border-bottom: #aaa 1px solid;
    width: 90%;
    padding: 10px 0;
    display: flex;
}

.producstOnCart img {
    width: 90px;
}

.producstOnCart .top {
    display: flex;
    background-color: #616161;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
}


/* My account text*/

.account-text {
    font-size: 0.9rem;
    padding: 10px;
    font-family: SUNN-line-regular;
    font-size: 25px;
    font-weight: bold;
}

.account-btn {
    background: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
}

.account-btn:focus {
    outline: none;
}

.navbar-top .shopping-cart {
    margin-left: 10px;
    font-size: 1.4rem;
    padding-top: 7px;
}

.shopping-cart .sum-prices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#sum-prices {
    padding-left: 5px;
}

.sum-prices h6 {
    font-size: 0.9rem;
}

.shoppingCartButton {
    cursor: pointer;
}

.shoppingCartButton:hover,
.account:hover * {
    color: #0e5e53;
}

button:focus {
    outline: none;
}


/*---------------------
  Featured
-----------------------*/

.set-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.featured {
    padding-top: 80px;
    padding-bottom: 40px;
}

.featured__controls {
    text-align: center;
    margin-bottom: 50px;
}

.featured__controls ul li {
    list-style: none;
    font-family: SUNN-line-regular;
    font-size: 28px;
    font-weight: bold;
    color: #1c1c1c;
    display: inline-block;
    margin-right: 25px;
    position: relative;
    cursor: pointer;
}

.featured__controls ul li.active:after {
    opacity: 1;
}

.featured__controls ul li:after {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #7fad39;
    content: "";
    opacity: 0;
}

.featured__controls ul li:last-child {
    margin-right: 0;
}

.featured__item {
    margin-bottom: 50px;
}

.featured__item:hover .featured__item__pic .featured__item__pic__hover {
    bottom: 20px;
}

.featured__item__pic {
    height: 270px;
    position: relative;
    overflow: hidden;
    background-position: center center;
}

.featured__item__pic__hover {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    text-align: center;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

.featured__item__pic__hover li {
    list-style: none;
    display: inline-block;
    margin-right: 6px;
}

.featured__item__pic__hover li:last-child {
    margin-right: 0;
}

.featured__item__pic__hover li:hover a {
    background: #7fad39;
    border-color: #7fad39;
}

.featured__item__pic__hover li:hover a i {
    color: #ffffff;
    transform: rotate(360deg);
}

.featured__item__pic__hover li a {
    font-size: 16px;
    color: #1c1c1c;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ebebeb;
    background: #ffffff;
    display: block;
    border-radius: 50%;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
}

.featured__item__pic__hover li a i {
    position: relative;
    transform: rotate(0);
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
}

.featured__item__text {
    text-align: center;
    padding-top: 15px;
}

.featured__item__text h6 {
    margin-bottom: 10px;
}

.featured__item__text h6 a {
    color: #252525;
    font-family: SUNN-line-regular;
    font-size: 28px;
    font-weight: bold;
}

.featured__item__text h5 {
    color: #252525;
    font-family: SUNN-line-regular;
    font-size: 37px;
    font-weight: bold;
}

.tortaArcoIris {
    background-image: url(../assets/img/torta_arcoIris.png);
    border-radius: 5%;
}

.cookieDino {
    background-image: url(../assets/img/cookieDino.png);
    border-radius: 5%;
}

.funBox {
    background-image: url(../assets/img/funBox.png);
    border-radius: 5%;
}

.docenaCookies {
    background-image: url(../assets/img/cookiesDocena.png);
    border-radius: 5%;
}

.tortaBautismo {
    background-image: url(../assets/img/TortaBautismo.png);
    border-radius: 5%;
}

.cookieHelado {
    background-image: url(../assets/img/CookiesHelado.png);
    border-radius: 5%;
}

.cookieStich {
    background-image: url(../assets/img/cookieStich.png);
    border-radius: 5%;
}

.tortaChimuelo {
    background-image: url(../assets/img/Torta_Chimuelo.png);
    border-radius: 5%;
}